{% extends 'index.html' %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="admin-container">
    <h2>Admin Panel</h2>

    <form method="GET" class="filter-form">
        <input class = "filter-input" type="date" name="date" placeholder="Filter by Date">
{#        <input class = "filter-input" type="text" name="car_number" placeholder="Filter by Car Number">#}
{#        <input class = "filter-input" type="text" name="user" placeholder="Filter by Username">#}
        <button class = "filter-button" type="submit">Filter</button>
    </form>

    <h3>All Transactions</h3>
    <table class="transactions-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Car Number</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.in_time }}</td>
                    <td>{{ transaction.profile.user.username }}</td>
                    <td>{{ transaction.profile.car_number }}</td>
                    <td>₹{{ transaction.amt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
